@import 'vars';

@mixin ballAnimation($ball-id, $from, $to) {
  @keyframes ball#{$ball-id}Animation {
    from {
      left: $from + '%';
    }

    to {
      left: calc(#{$to + '%'} - #{$ball-size});
    }
  }

  animation-name: ball#{$ball-id}Animation;
}
