@import 'animations';

*, *:before, *::before, *:after, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  border: 1px solid;
  width: $game-width;
  height: $game-height;
  position: relative;
}

.splitter {
  background-color: blue;
  position: absolute;

  &.x {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
  }

  &.x-33 {
    left: 33%;
  }

  &.x-66 {
    left: 66%;
  }

  &.y {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
  }
}

.ball {
  border: 1px solid;
  display: inline-block;
  position: absolute;
  width: $ball-size;
  height: $ball-size;
  background-color: red;
  border-radius: 50%;

  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  top: 50%;

  &.one {
    left: 0;
    background-color: blue;
    animation-name: ball1Animation;
  }

  &.two {
    left: 33%;
    background-color: green;
    animation-name: ball2Animation;
    animation-delay: 1s;
  }

  &.three {
    left: 66%;
    background-color: red;
    animation-name: ball3Animation;
    animation-delay: 2s;
  }
}

